$font-stack: 'sans-serif';
$color-bg: #f9f9f9;
$color-text: #333;
$border-radius: 8px;
$color-border: #007bff;
$color-success: #2a9b44;
$color-warning: #d77417;
$color-danger: #db1428;
$color-info: #1052ec;
$border-width: 1.5px;


$button-height: 50px;
$button-padding: 0 30px;
$button-font-size: 16px;
$button-border-radius: 5px;
$button-background-color: #fdfdfd;
$button-border-color: #ccc;
$button-hover-background-color: #f0f0f0;
$button-text-color: #000;
$button-width: 200px;
